{% extends 'base.html' %}

{% block content %}
<div class="">
    <h1>Predict Fake News</h1>
    <hr>
    <form class="form-group" action="{{ url_for('predict') }}" method="post">
        <div class="form-group">
            <input type="text" name="news" value="" placeholder="Enter the news url" required='required'>
        </div>
        <div class="form-group">
            <input type="submit" name="" value="Predict" class="btn btn-primary">
        </div>
    </form>
</div>
<div class="">
    {% if article_data | length > 1 %}
        {# <p>The news is <strong> {{ article_data['pred'][0] }} </strong> ( {{ "%0.2f" % article_data['pred_probability'][0][0] }} ) </p>
        <p> Title: {{ article_data['title'] }} </p>
        <p> Authors: {{ ', '.join(article_data['authors']) }} </p>
        <p> Publish Date: {{ article_data['publish_date'] }} </p>
        Summary
        <p> {{ article_data['summary'] }} </p> #}

        <table class="table">
            <tr>
                <td>Real or Fake</td>
                <td>{{ article_data['pred'][0] }} ({{  "%.2f" % (article_data['pred_probability'][0][1] * 100) }}%)</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{ article_data['title'] }}</td>
            </tr>
            <tr>
                <td>Authors</td>
                <td>{{ ', '.join(article_data['authors']) }}</td>
            </tr>
            <tr>
                <td>Publish Date</td>
                <td>{{ article_data['publish_date'].strftime("%Y/%m/%d") }}</td>
            </tr>
            <tr>
                <td>Summary</td>
                <td>{{ article_data['summary'] }}</td>
            </tr>


        </table>

    {% elif article_data | length == 1 %}

        <p>{{ article_data['error'] }}</p>

    {% else %}
        <p></p>

    {% endif %}
</div>

{% endblock %}
